@use 'helpers/color' as *;

$body-color: lightgrey;

body {
  background-color: $bg-page;
  color: rgb(244, 244, 244);
}

.btn {
  background-color: $bg-bottom;
  border: none;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
}
